# Esercizio 01
Data una stringa “s” contare il numero di doppie presenti:

ESEMPIO:

s = “aeiou” $\rightarrow$ 0

s = “tutto” $\rightarrow$ 1

s = “ttatt” $\rightarrow$ 2

In [3]:
s='ttatt'
list(enumerate(s))

[(0, 't'), (1, 't'), (2, 'a'), (3, 't'), (4, 't')]

In [24]:
s='ttatt'
conta=0    
for i, lettera in enumerate(s[:-1]): #enumerate restituisce sempre una coppia
    if lettera == s[i+1]:
        conta += 1        

print(conta)

2

# Esercizio 02
1) Creare un dizionario con le seguenti entries:

    “cane”: “domestico”

    “gatto”: “domestico”

    “leopardo”: “selvatico”

    “zebra”:selvatico”


2) Creare una struttura che rovescia il dizionario e che risulti in un nuovo dizionario con i seguenti elementi:

    “domestico”: [“cane”, “gatto”]

    “selvatico”: [“leopardo”, “zebra”]

In [26]:
animali = {
    'cane':'domestico',
    'gatto':'domestico',
    'leopardo':'selvatico',
    'zebra':'selvatico'  
}
print(animali)
#print(dizio.items(), type(dizio.items()))

animali.keys() 

animali_inv = {}
for key , value in animali.items():
    if value not in animali_inv:
        animali_inv[value] = [key] #così abbiamo fatto sì che sia una lista
    else:
        animali_inv[value].append(key)
        
print(animali_inv)

{'cane': 'domestico', 'gatto': 'domestico', 'leopardo': 'selvatico', 'zebra': 'selvatico'}
{'domestico': ['cane', 'gatto'], 'selvatico': ['leopardo', 'zebra']}

# Esercizio 03

Dato l’elenco città sotto forma di dizionario uguale a quello che abbiamo visto nell’esercizio:
elenco_citta = dict()


1) Utilizza come identificativo la chiave per salvare il valore
    elenco_citta['Roma'] = 'Francia'

2) Sovrascrivendo il valore corrispondente ad una chiave esistente verrà effettuata la sostituzione
    elenco_citta['Roma'] = 'Italia'
    elenco_citta['Napoli'] = 'Italia'
    elenco_citta['Barcelona'] = 'Spagna'
    print(elenco_citta)

3) Creare una lista dei soli nomi dei PAESI corrispondenti alle città che contengono la lettera “R” sia minuscola che maiuscola in modo tale che le lettere dei paesi siano invertite e che la prima lettera del paese sia maiuscola (mentre tutte le altre minuscole).

    SOLUZIONI:
    R è in Roma ed in Barcelona
    
    lista dei paesi: [Italia, Spagna]
    
    invertiamo le stringhe
        [ailatI, angapS]
        
    mettiamo a posto i caratteri maiuscoli e minuscoli come richiesto
        [Ailati, Angaps]

In [29]:
elenco_citta = dict() 

elenco_citta = {
    'Roma' : 'Francia',
    'Napoli' : 'Italia',
    'Barcelona' : 'Spagna'
}

print(elenco_citta)

elenco_citta['Roma'] = 'Italia'
elenco_citta['Napoli'] = 'Italia'
elenco_citta['Barcelona'] = 'Spagna'
print(elenco_citta)

lista = []
for citta, paese in elenco_citta.items():
    if 'r' in citta.lower():
        paese = paese.lower()
        paese_invertito = paese[::-1] #da 0 alla fine andando all'indietro
        paese_invertito = paese_invertito.capitalize() #metto maiuscola alla prima lettera della parola invertiva
        lista.append(paese_invertito)
        
print(lista)

{'Roma': 'Francia', 'Napoli': 'Italia', 'Barcelona': 'Spagna'}
{'Roma': 'Italia', 'Napoli': 'Italia', 'Barcelona': 'Spagna'}
['Ailati', 'Angaps']