# LE STRINGHE

Le stringhe in python sono viste come "sequenze di caratteri". 
La stringa è un tipo di dato python che contiene funzioni per poter essere utilizzata comodamente

In [1]:
s = '0123456789'
#è possibile estrapolare solo alcuni caratteri dalla stringa
print(s[:3], s[-5:], s[1:-1])

012 56789 12345678

In [2]:
#facciamo una sottostringa prendendo un carattere ogni due partendo dal primo carattere:
print(s[::2])

02468

In [3]:
print( s[1::2]) #partendo dal secondo carattere

13579

In [4]:
print(s[2])

2

In [5]:
l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
l[2] = 'ciao' #le liste sono oggetti mutabili ovvero posso andare a modificare direttamente un loro elemento
print(l)

[0, 1, 'ciao', 3, 4, 5, 6, 7, 8, 9]

In [6]:
try:
    s[2] = 'x' #produce un errore poiché le stringhe sono oggetti immutabili e quindi non posso andargli a modificare gli elementi interni
except:
    print('le stringhe sono oggetti immutabili!')

le stringhe sono oggetti immutabili!

In [7]:
#mettere x al posto dell'elemento 2 nella stringa s:
s = s[:2] + 'x' + s[3:]
print(s)

01x3456789

In [12]:
#uso degli apici per def stringhe o per utilizzarli nelle stringhe
s2 = "ciao"
s3 = 'ciao'
s4 = 'questo è un "esempio" di utilizzo di apici combinati '
print(s2)
print(s3)
print(s4)

ciao
ciao
questo è un "esempio" di utilizzo di apici combinati

# Caratteri di escape:

In [15]:
#\n = nuova riga
s5 = '1 \n2 \n3 \nauguri'
print(s5)

1
2
3
auguri

In [17]:
#\t = tasto tab
s6 = 'NOME\tCOGNOME\nMARIA\tVERDI\nMARIO\tROSSI'
print(s6)

NOME	COGNOME
MARIA	VERDI
MARIO	ROSSI

In [20]:
#scrivere le stringhe su più righe:

s7 = """questa stringa
è molto
lunga e
in questa stringa
posso anche usare
apici '' singoli

"""
print(s7)

questa stringa
è molto
lunga e
in questa stringa
posso anche usare
apici '' singoli

è possibile utilizzare l'operatore + per concatenare dati stringhe, a differenza dell'effetto che produrrebbe in caso di dati numerici e questa proprietà di python si dice "inferenza" rispetto al tipo di dato.
Osserviamo che si può anche usare l'operatore * per operare sulle stringhe.

In [26]:
s8 = 'ciao' #ripetizione della stringa con l'operatore *
print(s8*5)

ciaociaociaociaociao

In [25]:
print(l*2) #ripetizione elementi della lista con l'operatore *

[0, 1, 'ciao', 3, 4, 5, 6, 7, 8, 9, 0, 1, 'ciao', 3, 4, 5, 6, 7, 8, 9]

# Overriding:
Si può sempre sovrascrivere il comportamento degli operatori fondamentali (come il +, il -, il *, il /, ecc)

In [29]:
st = '-'.join([str(v) for v in l ]) #l.join('-') --> non funziona perché join è metodo per stringhe
#str() trasforma elementi in stringhe
print(st) #funzione built-in str() per cambiare il tipo in stringa

0-1-ciao-3-4-5-6-7-8-9

join() è un metodo delle stringhe (stringa_separatore.join(lista_da_unire)) che prende in ingresso una lista di stringhe e dà in output una stringa composta da tutti gli elementi della lista separati dalla stringa usata per chiamare il metodo (cioè quella scritta prima di .join()).

In [31]:
#la funzione index() trova l'indice di un elemento all'interno di una lista
#la funzione find() trova la posizione di una elemento all'interno di una stringa
print(st.find('3-4')) #trova l'indice di partenza, ovvero quello precedente a 3-4

9

In [34]:
#Davanti e in fondo a una stringa, nella realtà, si ritrovano molti spazi vuoti generalmente:
st1 = '             hahfsjlkjglaj      '
#per toglierli occorre utilizzare la funzione strip()
print(st1.strip()) #elimina tutti gli spazi prima e dopo

hahfsjlkjglaj

In [37]:
st2 = 'non mi piace python!'
print(st2)
st3 = st2.replace('non', 'quanto') #rimpiazza la sottostringa st2 con un'altra modificata
print(st3)

non mi piace python!
quanto mi piace python!

In [40]:
#a differenza della join() che unisce gli elementi di una lista, la funzione split() separa i caratteri di una stringa e li mette in una lista

#senza list comprehension
l = ['a', 'b', 'c', 'd'] #lista di stringhe
nuova_stringa = ' '.join(l) #crea la stringa degli elementi della lista separati da uno spazio
# equivalente ad : a + ' ' + b + ' '+ c +' '+d
print(nuova_stringa)

#per dividere la stringa:
nuova_lista = nuova_stringa.split(' ') #separa quando c'è lo spazio vuoto
print(nuova_lista)


#con list comprehension

a b c d
['a', 'b', 'c', 'd']

# Considerazioni Stringhe e liste
Operiamo la conversione in lista se è necessario separare tutti i caratteri senza che ci sia uno specifico carattere separatore.

Se invece fosse presente un carattere separatore in una lista, utilizzerò la funzione split('carattere_separatore')

In [42]:
#castiamo una stringa in lista
l = ['0', '1', '2', '3']
print(''.join(l)) #ora abbiamo una stringa composta dai caratteri della lista
print(list(''.join(l))) #operiamo la conversione in lista se è necessario separare tutti i caratteri senza che ci sia uno specifico carattere separatore

0123
['0', '1', '2', '3']

# Puntatori VS memoria 

In Python i puntatori possono essere riutilizzati indefinite volte ( facendoli puntare a porzioni di memoria sempre diverse).
Dunque, quando si parla di "immutabilità" non ci si riferisce al puntatore, bensì alla porzione di memoria allocata.

In [49]:
# il nome della variabile (nell'esempio s) può essere riasegnato indefinite volte

#stringa
s= 'ciao'
try:
    s[0] = 'x' #<-- qui sto modificando il valore della memoria
except:
    print('stringhe immutabili')

#lista
s = [1] #<-- qui sto riassegnando il puntatore a un'altra variabile
s[0]=2  #<-- qui sto modificando il valore della memoria
print('liste mutabili')

#tupla
s = ('a')#<-- qui sto riassegnando il puntatore a un'altra variabile
try:
    s[0]='b' #<-- qui sto modificando il valore della memoria
except:
    print('tuple immutabili')

#poiché s è solo un puntatore di memoria

## Le Tuple
Le tuple sono insiemi di oggetti (anche di diversa natura) che sono intrinsecamente immutabili (non posso andare a modificare il valore di una tupla.

In [43]:
t = ('ciao','a', 'tutti', 'i', 'presenti')
print(t)

('ciao', 'a', 'tutti', 'i', 'presenti')

Per accedere a un elemento di una tupla è possibile usare l'indice come accadeva per le liste e le stringhe.

In [46]:
print(t[2])

tutti

In [47]:
print(t[2], t[:3], t[-1])

tutti ('ciao', 'a', 'tutti') presenti

In [48]:
try:
    t[0] = 'Buongiorno'
except:
    print('impossibile modificare il valore di una tupla --> tuple immutabili')

impossibile modificare il valore di una tupla --> tuple immutabili

## Un operatore interessante da usare sugli insiemi: "in" 
(per insiemi mi riferisco a una collezione di elementi)

In [59]:
#Operatore "in" che restituisce un valore booleano:
t = (1, 4, 9, 16, 25)
print('in usato per le tuple:', 5 in t, 25 in t) 

l = [n for n in t]
print(l)
print('in usato per le liste:', 5 in l, 16 in l)

s = ''.join([str(n) for n in t])
print('in usato per le stringhe:', '5' in s, '16' in s, '7' in s)
print(s)

in usato per le tuple: False True
[1, 4, 9, 16, 25]
in usato per le liste: False True
in usato per le stringhe: True True False
1491625

Creazione di una tupla solitaria (cioè con un solo elemento).
Per inizializzare una tupla con un solo elemento è necessario includere nella sua dichiarazione una virgola a destra dell'elelemnto, altrimenti le parentesi che racchiuderebbero il numero verranno interpretate da python come parentesi di espressione matematica e non come parentesi di una tupla

per cui python non riconosce come tupla essendoci un solo elemento:

In [64]:
non_tupla = (1) #interpretato come espressione
print(non_tupla, type(non_tupla))

1 <class 'int'>

In [65]:
#per creare una tupla che contiene un solo elemento occorre scriverla con la seguente sintassi:
tupla_solitaria = (1, )
print(tupla_solitaria, type(tupla_solitaria))

(1,) <class 'tuple'>

Non posso modificare una tupla, ma posso usare altre operazioni per non "rompere" le regole di python.
Ricordiamo, però, che in python è sempre possibile operare conversioni tra molti tipi di dati in python 
(ad esempio: tupla-->lista e lista-->tupla)

In [69]:
tupla = (0, 1, 2, 3, 4, 5) 
#voglio sostituire il 3 con 'a'
try:
    tupla[3] = 'a'
except:
    print('la tupla è immutabile!')

    
l = list(tupla) #converto la tupla in lista
l[3] = 'a'      #modifico l'elemento richiesto nella lista
print(tuple(l)) #converto di nuovo la lista in tupla

la tupla è immutabile!
(0, 1, 2, 'a', 4, 5)

Osserviamo che una tupla può contenere al suo interno diverse occorrenze dello stesso elemento

In [71]:
tupla = (0, 0, 1, 1)
print(tupla)

(0, 0, 1, 1)

## Gli insiemi (set)
Come le tuple, i set, sono strutture che permettono di conservare una collezione di elementi e hanno degli operatori speciali che permettono ai developers di operare.
A differenza delle tuple, invece, provando ad inserire molteplici volte lo stesso elemento, il set ne conserverà solo una copia ovvero non terrà conto delle occorrenze multiple ed inoltre sono mutabili(si possono aggiungere elementi). 

Il set NON ha ordinamento e di conseguenza non ha un indice.

In [80]:
insieme = {0, 0, 1, 1}
print(insieme)
insieme2 = {4, 2, 0, 1, 'a'}
print(insieme2)

{0, 1}
{0, 1, 2, 4, 'a'}

Com'è possbile operare sui set?

In [81]:
try: 
    insieme[0]
except:
    print('Non avendo un ordinamento, il set non è indicizzato e quindi non è possibile richiamare un elemento tramite la sua posizione')

Non avendo un ordinamento, il set non è indicizzato e quindi non è possibile richiamare un elemento tramite la sua posizione

In [87]:
print(7 in [1,2,3,4,5,6,7])
print(7 in {1,2,3,4,5,6,7})

True
True

In [88]:
list(range(10**5))[-1]

99999

In [93]:
import time
#help(time)

In [97]:
#vediamo se con un set i tempi sono migliori:
l_grande = list(range(10**7)) #lista
s_grande = set(range(10**7)) #set

start = time.time() #misuriamo il tempo di ricerca dell'ultimo elemento della lista
9999999 in l_grande
end = time.time()
print('ricerca in lista con operatore "in" eseguita in:', (end - start), 'secondi')

start = time.time() #misuriamo il tempo di ricerca dell'ultimo elemento del set
9999999 in s_grande
end = time.time()
print('ricerca in set con operatore "in" eseguita in:', (end - start), 'secondi')

ricerca in lista con operatore "in" eseguita in: 0.10874271392822266 secondi
ricerca in lista con operatore "in" eseguita in: 0.0010020732879638672 secondi

In python è possibile convertire velocemente diversi tipi di "collezioni" (cioè set, liste, tuple, ecc).

In [98]:
insieme_da_str = set('tutto')
print(insieme_da_str)

{'o', 't', 'u'}

Altri operatori interessanti sugli insiemi

In [100]:
maiuscole = {'A', 'B', 'C'}
minuscole = {'a', 'b', 'c'}

#unione
lettere = maiuscole | minuscole
print(lettere)

#intersezione
print(lettere)

#differenza
print(lettere)

{'C', 'B', 'b', 'c', 'A', 'a'}
{'C', 'B', 'b', 'c', 'A', 'a'}
{'C', 'B', 'b', 'c', 'A', 'a'}